name: Deploy MkDocs

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Install dependencies
        working-directory: src
        run: |
          pip install -r requirements.txt

      - name: Build MkDocs (debug)
        working-directory: src
        run: |
          mkdocs build
          ls -la
          ls -la site

      - name: Deploy to gh-pages
        working-directory: src
        run: |
          mkdocs gh-deploy --force
